@import "font-mixin";


/* exmple for using font mixin*/

$exo2ExtraLight: 'exo2ExtraLight';
$exo2Thin: 'exo2Thin';
$exo2Bold: 'exo2Bold';
$exo2Light: 'exo2Light';
$exo2Regular: 'exo2Regular';
$exo2SemiBold: 'exo2SemiBold';

$uniSansBold: 'uniSansBold';
$uniSansLight: 'uniSansLight';
$uniSansSemiBold: 'uniSansSemiBold';
$uniSansSemiLight: 'uniSansSemiLight';

$openSansBold: 'openSansBold';


@include font-face("exo2ExtraLight", "../fonts/Exo2/Exo2ExtraLight/Exo2ExtraLight");
@include font-face("exo2Thin", "../fonts/Exo2/Exo2Thin/Exo2Thin");
@include font-face("exo2Bold", "../fonts/Exo2/Exo2Bold/Exo2Bold");
@include font-face("exo2Light", "../fonts/Exo2/Exo2Light/Exo2Light");
@include font-face("exo2Regular", "../fonts/Exo2/Exo2Regular/Exo2Regular");
@include font-face("exo2SemiBold", "../fonts/Exo2/Exo2SemiBold/Exo2SemiBold");

@include font-face("openSansBold", "../fonts/OpenSans-Bold/OpenSans-Bold");

@include font-face("uniSansBold", "../fonts/UniSans-Bold/UniSans-Bold");
@include font-face("uniSansLight", "../fonts/UniSans-Light/UniSans-Light");
@include font-face("uniSansSemiBold", "../fonts/UniSans-SemiBold/UniSans-SemiBold");


