.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    font-family: $exo2Light;
    color: #fff;
    z-index: 105;
    font-size: 16px;
    pointer-events: none;

    @media only screen and (max-height: $maxHeight) {
        padding-top: 4vh;
    }

    @include media($desk-middle) {
        font-size: 13px;
        padding-top: 30px;
    }

    @include media($break-mobile) {
        opacity: 1!important;
        transform: none !important;
        padding-top: calc(3.75vw + 15px);
    }

    &.dark-bg {

        .logo__animation {
            opacity: 1;
        }
    }

    &.homepage__header {
        .logo {
            opacity: 0;
            pointer-events: none;
        }

        opacity: 0;
    }

    &__inner {
        display: flex;
        justify-content: flex-end;

        @include media($break-mobile) {
            padding: 0 20px;
        }
    }

    &__logo {
        position: absolute;
        top: 50px;
        left: 95px;
        pointer-events: none;

        @media only screen and (max-height: $maxHeight) {
            top: 4vh;
        }

        @include media($desk-middle) {
            left: 5.5vw;
            top: 30px;
        }

        @include media($break-mobile) {
            top: 28px;
            left: 30px;
        }
    }

    &__list {
        display: flex;

        @include media($break-mobile) {
            display: none;
        }
    }

    &__item {
        padding: 0 25px;

        @include media($desk-middle) {
            padding: 0 20px;
        }
    }

    &__link {
        display: block;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity 0.4s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__nav {
        pointer-events: auto;

    }

    &__lang {
        position: relative;
        margin-left: 20px;
        margin-right: 25px;
        text-transform: uppercase;
        align-self: flex-start;
        pointer-events: auto;

        @include media($break-mobile) {
            margin-right: 25px;
            font-family: $exo2SemiBold;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 5px;
            pointer-events: none;
            border: 5px solid transparent;
            border-top-color: $red-color;
            transform: translateY(-15%);
        }
    }

    &__lang-list {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        transition: opacity 0.4s;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__lang-link {
        display: block;
    }

    &__lang-btn {
        color: #fff;
        border: none;
        cursor: pointer;
        background: none;
        text-transform: uppercase;
        font-size: inherit;
        font-family: inherit;
        padding: 0;
        line-height: 1;
        outline: none;
    }

    &__active-item {
        padding-right: 20px;
    }

    &__lang-item {
        margin-top: 25px;
        display: inline-block;
        color: #fff;
        transition: opacity 0.4s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__menu {
        position: relative;
        text-transform: uppercase;
        padding-right: 50px;
        padding-left: 30px;
        align-self: flex-start;
        line-height: 1;
        pointer-events: auto;

        @include media($desk-middle) {
            padding-right: 60px;
        }

        @include media($break-mobile) {
            padding: 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background: #fff;

            @include media($break-mobile) {
                display: none;
            }
        }

        &:hover {
            .header__menu-text {
                opacity: 0.5;
            }

            .burger__line {
                background: #fff;

                @include media($break-mobile) {
                    background: $red-color;
                }
            }
        }
    }

    &__menu-text {
        transition: opacity 0.4s;

        @include media($break-mobile) {
            display: none;
        }
    }

    &__menu-button {
        position: absolute;
        background: none;
        border: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
        outline: none;
    }
}

.burger {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 28px;
    height: 18px;

    @include media($desk-middle) {
        width: 24px;
    }

    &.active {

        .burger__line {

            background: $red-color;

            &--top {
                transform: rotate(45deg);
                top: 47%;
            }

            &--center {
                opacity: 0;
            }

            &--bottom {
                transform: rotate(-45deg);
                bottom: 44%;
            }
        }
    }

    @media only screen and (max-height: $maxHeight) {
        top: 4vh;
    }

    @include media($desk-middle) {
        top: 27px;
    }

    @include media($break-mobile) {
        position: relative;
        top: 0;
        right: 0;
    }

    &__line {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background: $red-color;
        transition: background-color 0.4s, transform 0.4s, top 0.4s, bottom 0.4s;

        &--top {
            top: 0;
        }

        &--center {
            top: 50%;
            margin-top: -1px;
        }

        &--bottom {
            bottom: 0;
        }
    }
}

.messenger {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    pointer-events: auto;
    margin-right: 40px;
    display: block;
    transform: translateY(-8px);

    @include media($break-mobile) {
        margin-right: 30px;
    }

}

//facebook messenger

.fb_dialog_content {
    opacity: 0.01 !important;
}

.fb_customer_chat_bubble_pop_in {
    box-shadow: none !important;
    top: 0 !important;
    right: 195px !important;
    bottom: auto !important;
    transform: scale(0.85) !important;
    opacity: 0.01 !important;

    @include media($desk-middle) {
        top: 10px !important;
    }

    @include media($break-mobile) {
        top: 3.15vw !important;
        right: 57px !important;
    }
}

.fb-customerchat {
    
    iframe {
        @include media($break-mobile) {
            width: 280pt !important;
        }
    }
}

.landscape-orientation {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 26px;
    z-index: 555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    &__text {
        max-width: 400px;
        text-align: center;
        padding-bottom: 30px;
    }

    &__svg {
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto 26px;
    }

    @media screen and (orientation: landscape) and (max-width: $break-mobile) {
       display: flex;
    }
}


