<!--{{> component/site-preloader/site-preloader }}-->
<header class="header {{#if header-class}} {{header-class}} {{/if}}">
    <div class="header__logo">
        {{>component/logo/logo}}
    </div>
    <div class="container header__inner">
        <nav class="header__nav">
            <ul class="header__list">
                {{#each header.nav}}
                    <li class="header__item">
                        <a href="{{link}}" class="header__link">{{text}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
        <div class="header__lang">
            <a class="header__lang-btn"><span class="header__active-item">En</span></a>
            <div class="header__lang-list">
                <a href="sss" class="header__lang-link"><span class="header__lang-item">Рус</span></a>
                <a href="sss" class="header__lang-link"><span class="header__lang-item">Укр</span></a>
            </div>
        </div>
        <svg class="messenger" x="0" y="0" width="40" height="40" viewBox="0 0 40 40">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g>
                    <g>
                        <g  fill="#FFFFFF">
                            <path d="M0,18.7150914 C0,8.37723141 8.956743,0 20,0 C31.043257,0 40,8.37723141 40,18.7150914 C40,29.0529515 31.043257,37.4301829 20,37.4301829 C18,37.4301829 16.0763359,37.1551856 14.2544529,36.6459314 L6.95652174,40 L6.95652174,33.0434783 C2.44929143,29.6044708 0,24.5969773 0,18.7150914 Z M16.9276495,19.6993886 L22.109375,25.0798234 L33.0434783,13.4782609 L23.0672554,18.9962636 L17.890625,13.6158288 L6.95652174,25.2173913 L16.9276495,19.6993886 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <div class="header__menu">
            <span class="header__menu-text">{{header.menu}}</span>
            <div class="burger">
                <span class="burger__line burger__line--top"></span>
                <span class="burger__line burger__line--center"></span>
                <span class="burger__line burger__line--bottom"></span>
            </div>
            <button  class="header__menu-button"></button>
        </div>
    </div>
</header>
<div class="landscape-orientation">
    <div class="landscape-orientation__text">
        <svg class="landscape-orientation__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" fill="#fff">
            <g>
                <g>
                    <path d="M159.648,486.88l-16-74.24c-1.856-8.64-10.272-13.984-19.008-12.288c-8.64,1.888-14.112,10.368-12.256,19.04l8.288,38.432
                        C64.992,419.04,32,356.992,32,288c0-8.832-7.168-16-16-16c-8.832,0-16,7.168-16,16c0,74.4,34.88,144.288,92.672,189.312
                        l-45.632,2.72c-8.832,0.544-15.552,8.096-15.008,16.928C32.544,505.44,39.584,512,48,512c0.32,0,0.64,0,0.96-0.032l96-5.76
                        c4.672-0.288,8.96-2.56,11.808-6.272C159.584,496.224,160.64,491.424,159.648,486.88z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M419.328,34.688l45.632-2.72c8.832-0.544,15.552-8.096,15.008-16.928C479.456,6.56,472.416,0,464,0
                        c-0.32,0-0.64,0-0.96,0.032l-96,5.76c-4.672,0.288-8.96,2.56-11.808,6.272c-2.816,3.712-3.872,8.512-2.88,13.056l16,74.24
                        c1.856,8.64,10.272,13.984,19.008,12.288c8.64-1.888,14.112-10.368,12.256-19.04l-8.256-38.432C447.008,92.96,480,155.008,480,224
                        c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16C512,149.6,477.12,79.712,419.328,34.688z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M459.648,278.624L233.376,52.352c-12.48-12.48-32.768-12.48-45.248,0L52.352,188.128c-12.48,12.48-12.48,32.768,0,45.248
                        l226.272,226.272c12.48,12.48,32.768,12.48,45.248,0l135.776-135.776C472.128,311.392,472.128,291.104,459.648,278.624z
                        M278.624,414.4L97.6,233.376L233.376,97.6L414.4,278.624L278.624,414.4z"/>
                </g>
            </g>
        </svg>
        <span>Please rotate your device to portrait mode</span>
    </div>
</div>

{{> component/menu/menu }}
