.scroll-more {

  position: fixed;
  bottom: 0;
  left: 111px;
  font-size: 12px;
  z-index: 5;
  opacity: 0;



  @include media($desk-middle){
    left: 5.9vw;
  }

  @include media($break-mobile) {
    left: 17px;
    bottom: -15px;
  }

  &__mobile {
    display: none;

    @include media($break-mobile) {
      display: inline;
    }
  }

  &__desktop {
    display: inline;

    @include media($break-mobile) {
      display: none;
    }
  }

  &__direction {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  &__text {
    display: inline-block;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    position: relative;
    padding-left: 50px;
    left: 10px;
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: 1px;
      width: 40px;
      background: #fff;
      animation: scroll-more 4s infinite ;
    }

  }

  &--bold {
    margin-left: 3px;
  }
}

.middle-scroll-more {
  position: fixed;
  z-index: 5;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 35px;
  background: #fff;
  animation: scroll-animation 3s alternate infinite;
}

@keyframes scroll-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(70%);
  }
}


