<div class="scroll-more">
    <span class="scroll-more__text exo--thin">
        <span class="scroll-more__desktop">Scroll</span>
        <span class="scroll-more__mobile">Swipe</span>
        <span class="scroll-more--bold exo--bold">Down</span>
    </span>
</div>
