.logo {

    &__link {
        display: block;
        border-radius: 50%;
        overflow: hidden;
        height: 180px;
        width: 180px;
        pointer-events: auto;

        @include media($desk-middle) {
            height: 140px;
            width: 140px;
        }

        svg {
            height: 100%;
            width: 100% ;
        }

    }

    &__text {


        svg {
            fill: #fff;
            overflow: visible;
            width: 500px;

            @include media($desk-middle) {
                width: 330px;
            }
        }
    }

    &__animation {
        opacity: 0;
    }
}
