.logo {
    pointer-events: none;

    &__link {
        display: block;
        border-radius: 50%;
        overflow: hidden;
        height: 180px;
        width: 180px;
        pointer-events: auto;
        min-height: 100px;
        min-width: 100px;

        @include media($desk-middle) {
            height: 140px;
            width: 140px;
        }

        @include media(900px) {
            width: 15vw;
            height: 15vw;
        }

        @include media($break-mobile) {
            min-height: 50px;
            min-width: 50px;
            width: 18vw;
            height: 18vw;
        }

        svg {
            height: 100%;
            width: 100%;
            fill: rgba(#fff, 0.5);

            @include media($break-mobile) {
                fill: #fff !important;
            }
        }

    }

    &__text {
        pointer-events: none;

        @include media(900px) {
            margin-top: -15px;
        }

        @include media(1200px) {
            display: none;
        }


        svg {
            fill: #fff;
            overflow: visible;
            width: 500px;

            @include media($desk-middle) {
                width: 330px;
            }

            @include media($break-tablet) {
                width: 250px;
            }
        }
    }

    &__animation {
        opacity: 0;
    }
}
