<div class="site-preloader">
    <div class="site-preloader__lines">
        <div class="site-preloader__line site-preloader__line--1"></div>
        <div class="site-preloader__line site-preloader__line--2"></div>
        <div class="site-preloader__line site-preloader__line--3"></div>
    </div>
    <div class="site-preloader__logo"></div>
</div>