<section class="homepage">
    <div class="homepage__slider">
        {{> pages/homepage/firstScreen}}
        {{> pages/homepage/ico}}
        {{> pages/homepage/investment}}
        {{> pages/homepage/incubation}}
    </div>
</section>
