<div id="barba-wrapper">
    <div class="barba-container" data-namespace="blog">
        <main class="blog">
            <section class="blog__intro" style="background-image: url('./source/images/blog/intro.jpg')">
                <div class="container blog__container">
                    <div class="blog__text">
                        <h1 class="h-content-seo">Блог архитектора Наталии Олексиенко </h1>
                        <div class="blog__heading">
                            <span class="blog__title blog__title--bold">Блог</span>
                            <span class="blog__title blog__title--thin">архитектора</span>
                            <span class="blog__title blog__title--semibold">Наталии Олексиенко </span>
                        </div>
                        <a href="/" class="blog__logo">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="126.448px" height="126.427px" viewBox="0 0 126.448 126.427" enable-background="new 0 0 126.448 126.427"
                                 xml:space="preserve">
                                <g>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M63.2,0
                                        c34.936,0,63.248,28.307,63.248,63.211c0,21.345-10.604,40.18-26.822,51.623V66.99H87.391v54.626l-1.646,0.605L65.869,66.99H40.268
                                        v55.067C16.712,112.866,0,90.014,0,63.21C0,28.307,28.311,0,63.2,0 M52.496,125.451c3.483,0.591,7.044,0.976,10.704,0.976
                                        c3.191,0,6.322-0.313,9.391-0.777L52.496,67.546V125.451z"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M63.2,0
                                        c34.936,0,63.248,28.307,63.248,63.211c0,21.345-10.604,40.18-26.822,51.623V66.99H87.391v54.626l-1.646,0.605L65.869,66.99H40.268
                                        v55.067C16.712,112.866,0,90.014,0,63.21C0,28.307,28.311,0,63.2,0 "/>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
            <section class="blog__content">
                <div class="blog__container blog__content-inner container">
                    <aside class="blog-aside">
                        <div class="blog-aside__title">
                            Tags
                        </div>
                        <ul class="blog-aside__list blog-aside__categories">
                            <li class="blog-aside__item">
                                <a href="" class="blog-aside__link">Studio</a>
                            </li>
                            <li class="blog-aside__item">
                                <a href="" class="blog-aside__link">Arhitectural design</a>
                            </li>
                            <li class="blog-aside__item">
                                <a href="" class="blog-aside__link">Interior design</a>
                            </li>
                            <li class="blog-aside__item">
                                <a href="" class="blog-aside__link">Object design</a>
                            </li>
                        </ul>
                        <div class="blog-aside__list">
                            <ul class="blog-aside__subcategories">
                                <li class="blog-aside__subitem">
                                    <a href="" class="blog-aside__sublink">Авторский надзор</a>
                                </li>
                                <li class="blog-aside__subitem">
                                    <a href="" class="blog-aside__sublink">Обучение</a>
                                </li>
                                <li class="blog-aside__subitem">
                                    <a href="" class="blog-aside__sublink">Лофт</a>
                                </li>
                            </ul>
                            <a href="#" class="blog-aside__more">Еще</a>
                        </div>
                        <div class="blog-aside__projects">
                            <div class="aside-project">
                                <div class="aside-project__title">Столичная квартира философа</div>
                                <div class="aside-project__figure">
                                    <img src="./source/images/blog/slide-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="aside-project">
                                <div class="aside-project__title">Столичная квартира философа</div>
                                <div class="aside-project__figure">
                                    <img src="./source/images/blog/slide-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="aside-project">
                                <div class="aside-project__title">Столичная квартира философа</div>
                                <div class="aside-project__figure">
                                    <img src="./source/images/blog/slide-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="blog__list-wrapper">
                        <div class="blog__list">
                            <div class="blog__list-container">
                                <div class="blog-item blog-item--main">
                                    <div class="blog-item__inner">
                                        <div class="blog-item__type">Interior design</div>
                                        <h2 class="blog-item__title">Столичная квартира философа</h2>
                                        <time class="blog-item__time">8 декабря 2018</time>
                                        <figure class="blog-item__photo">
                                            <img src="./source/images/blog/slide-1.jpg" alt="" class="blog-item__img">
                                        </figure>
                                    </div>
                                </div>
                                <div class="blog-item blog-item--main">
                                    <div class="blog-item__inner">
                                        <div class="blog-item__type">Interior design</div>
                                        <h2 class="blog-item__title">Столичная квартира философа</h2>
                                        <time class="blog-item__time">8 декабря 2018</time>
                                        <figure class="blog-item__photo">
                                            <img src="./source/images/blog/slide-1.jpg" alt="" class="blog-item__img">
                                        </figure>
                                    </div>
                                </div>
                                <div class="blog-item blog-item--main">
                                    <div class="blog-item__inner">
                                        <div class="blog-item__type">Interior design</div>
                                        <h2 class="blog-item__title">Столичная квартира философа</h2>
                                        <time class="blog-item__time">8 декабря 2018</time>
                                        <figure class="blog-item__photo">
                                            <img src="./source/images/blog/slide-1.jpg" alt="" class="blog-item__img">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__list-container">
                        <div class="blog-item__wrapper">
                            <div class="blog-item blog-item--big">
                                <div class="blog-item__inner">
                                    <div class="blog-item__text">
                                        <div class="blog-item__type">Interior design</div>
                                        <h2 class="blog-item__title">Столичная квартира философа</h2>
                                        <time class="blog-item__time">8 декабря 2018</time>
                                    </div>
                                    <figure class="blog-item__photo">
                                        <img src="./source/images/blog/slide-1.jpg" alt="" class="blog-item__img">
                                    </figure>
                                </div>
                            </div>
                            <p class="blog-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Amet dolorum necessitatibus optio quis, quisquam quod! Cupiditate dolore
                                doloribus error facilis neque, porro quae veniam voluptatibus? Accusantium assumenda
                                autem consectetur cupiditate dicta eos, expedita id in inventore ipsa iste minus
                                molestiae necessitatibus nesciunt quibusdam reiciendis sed sint tempora veniam
                                voluptatibus. Amet architecto, asperiores, assumenda autem beatae consectetur
                                cupiditate delectus enim error esse et eum facere fuga id voluptatibus?</p>
                        </div>
                    </div>
                        <div class="blog__list">
                            <div class="blog__list-container">
                                <div class="blog-item__column blog-item__smaller-column">
                                    <div class="blog-item__wrapper">
                                        <div class="blog-item blog-item--main">
                                            <div class="blog-item__inner">
                                                <div class="blog-item__text">
                                                    <div class="blog-item__type">Interior design</div>
                                                    <h2 class="blog-item__title">Столичная квартира философа</h2>
                                                    <time class="blog-item__time">8 декабря 2018</time>
                                                </div>
                                                <figure class="blog-item__photo">
                                                    <img src="./source/images/blog/slide-1.jpg" alt=""
                                                         class="blog-item__img">
                                                </figure>
                                            </div>
                                            <p class="blog-item__description">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Amet dolorum necessitatibus optio quis, quisquam quod!
                                                Cupiditate dolore doloribus error facilis neque, porro quae veniam
                                                voluptatibus? Accusantium assumenda autem consectetur cupiditate dicta eos,
                                                expedita id in inventore ipsa iste minus molestiae necessitatibus nesciunt
                                                quibusdam reiciendis sed sint tempora veniam voluptatibus. Amet architecto,
                                                asperiores, assumenda autem beatae consectetur cupiditate delectus enim
                                                error esse et eum facere fuga id voluptatibus?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-item__column blog-item__bigger-column">
                                    <div class="blog-item__wrapper">
                                        <div class="blog-item blog-item--main">
                                            <div class="blog-item__inner">
                                                <div class="blog-item__text">
                                                    <div class="blog-item__type">Interior design</div>
                                                    <h2 class="blog-item__title">Столичная квартира философа</h2>
                                                    <time class="blog-item__time">8 декабря 2018</time>
                                                </div>
                                                <figure class="blog-item__photo">
                                                    <img src="./source/images/blog/slide-1.jpg" alt=""
                                                         class="blog-item__img">
                                                </figure>
                                            </div>
                                            <p class="blog-item__description">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Amet dolorum necessitatibus optio quis, quisquam quod!
                                                Cupiditate dolore doloribus error facilis neque, porro quae veniam
                                                voluptatibus? Accusantium assumenda autem consectetur cupiditate dicta eos,
                                                expedita id in inventore ipsa iste minus molestiae necessitatibus nesciunt
                                                quibusdam reiciendis sed sint tempora veniam voluptatibus. Amet architecto,
                                                asperiores, assumenda autem beatae consectetur cupiditate delectus enim
                                                error esse et eum facere fuga id voluptatibus?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__list-container">
                            <div class="blog-item__wrapper">
                                <div class="blog-item blog-item--big">
                                    <div class="blog-item__inner">
                                        <div class="blog-item__text">
                                            <div class="blog-item__type">Interior design</div>
                                            <h2 class="blog-item__title">Столичная квартира философа</h2>
                                            <time class="blog-item__time">8 декабря 2018</time>
                                        </div>
                                        <figure class="blog-item__photo">
                                            <img src="./source/images/blog/slide-1.jpg" alt="" class="blog-item__img">
                                        </figure>
                                    </div>
                                </div>
                                <p class="blog-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Amet dolorum necessitatibus optio quis, quisquam quod! Cupiditate dolore
                                    doloribus error facilis neque, porro quae veniam voluptatibus? Accusantium assumenda
                                    autem consectetur cupiditate dicta eos, expedita id in inventore ipsa iste minus
                                    molestiae necessitatibus nesciunt quibusdam reiciendis sed sint tempora veniam
                                    voluptatibus. Amet architecto, asperiores, assumenda autem beatae consectetur
                                    cupiditate delectus enim error esse et eum facere fuga id voluptatibus?</p>
                            </div>
                        </div>
                        <div class="blog__list">
                            <div class="blog__list-container">
                                <div class="blog-item__column blog-item__bigger-column">
                                    <div class="blog-item__wrapper">
                                        <div class="blog-item blog-item--main">
                                            <div class="blog-item__inner">
                                                <div class="blog-item__text">
                                                    <div class="blog-item__type">Interior design</div>
                                                    <h2 class="blog-item__title">Столичная квартира философа</h2>
                                                    <time class="blog-item__time">8 декабря 2018</time>
                                                </div>
                                                <figure class="blog-item__photo">
                                                    <img src="./source/images/blog/slide-1.jpg" alt=""
                                                         class="blog-item__img">
                                                </figure>
                                            </div>
                                            <p class="blog-item__description">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Amet dolorum necessitatibus optio quis, quisquam quod!
                                                Cupiditate dolore doloribus error facilis neque, porro quae veniam
                                                voluptatibus? Accusantium assumenda autem consectetur cupiditate dicta eos,
                                                expedita id in inventore ipsa iste minus molestiae necessitatibus nesciunt
                                                quibusdam reiciendis sed sint tempora veniam voluptatibus. Amet architecto,
                                                asperiores, assumenda autem beatae consectetur cupiditate delectus enim
                                                error esse et eum facere fuga id voluptatibus?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-item__column blog-item__smaller-column">
                                    <div class="blog-item__wrapper">
                                        <div class="blog-item blog-item--main">
                                            <div class="blog-item__inner">
                                                <div class="blog-item__text">
                                                    <div class="blog-item__type">Interior design</div>
                                                    <h2 class="blog-item__title">Столичная квартира философа</h2>
                                                    <time class="blog-item__time">8 декабря 2018</time>
                                                </div>
                                                <figure class="blog-item__photo">
                                                    <img src="./source/images/blog/slide-1.jpg" alt=""
                                                         class="blog-item__img">
                                                </figure>
                                            </div>
                                            <p class="blog-item__description">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Amet dolorum necessitatibus optio quis, quisquam quod!
                                                Cupiditate dolore doloribus error facilis neque, porro quae veniam
                                                voluptatibus? Accusantium assumenda autem consectetur cupiditate dicta eos,
                                                expedita id in inventore ipsa iste minus molestiae necessitatibus nesciunt
                                                quibusdam reiciendis sed sint tempora veniam voluptatibus. Amet architecto,
                                                asperiores, assumenda autem beatae consectetur cupiditate delectus enim
                                                error esse et eum facere fuga id voluptatibus?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
