<div class="navigation-arrows__nav">
    <a href="{{prev.link}}" class="navigation-arrows__nav-arrow navigation-arrows__nav-arrow--left">
        <span class="navigation-arrows__nav-text">{{prev.text}}</span>
        <img src="./source/images/arrow-left.png" alt="">
    </a>
    <a href="{{next.link}}" class="navigation-arrows__nav-arrow navigation-arrows__nav-arrow--right">
        <span class="navigation-arrows__nav-text">{{next.text}}</span>
        <img src="./source/images/arrow-right.png" alt="">
    </a>
</div>