<div class="navigation-arrows__nav">
    <a href="/#2" class="navigation-arrows__nav-arrow navigation-arrows__nav-arrow--left" data-transition="projectSwipeLeft">
        <span class="navigation-arrows__nav-text">{{prev.text}}</span>
        <img src="./source/images/arrow-left.png" alt="">
    </a>
    <a href="/architect1.html" class="navigation-arrows__nav-arrow navigation-arrows__nav-arrow--right" data-transition="leftTransition">
        <span class="navigation-arrows__nav-text">{{next.text}}</span>
        <img src="./source/images/arrow-right.png" alt="">
    </a>
</div>
