<div class="inner-page" >
    <div class="inner-page__nav">
        <a href="/#2" class="inner-page__nav-arrow inner-page__nav-arrow--left">
            <span class="inner-page__nav-text">Back</span>
            <img src="./source/images/arrow-left.png" alt="">
        </a>
        <a href="#" class="inner-page__nav-arrow inner-page__nav-arrow--right">
            <span class="inner-page__nav-text">Next project</span>
            <img src="./source/images/arrow-right.png" alt="">
        </a>
    </div>
    <div class="main__text">
        {{#if title}}
            <a href="" class="main-title main-title--light animation-title">{{title}}</a>
        {{/if}}
        {{#if subtitle}}
            <a href="" class="homepage__subtitle main-title main-title--semibold animation-title">{{subtitle}}</a>
        {{/if}}
        <p class="slide__description animation-title">
            {{#if description}}
                {{{description}}}
            {{/if}}
        </p>
    </div>
    <section class="inner-page__slides">
        {{#each slides}}
            <div class="inner-page__slide" style="background-image: url('{{this}}')"></div>
        {{/each}}
    </section>
    <div class="red-squares">
        <div class="red-square"></div>
        <div class="red-square"></div>
    </div>
    <div class="slide__number">
        <span class="slide__value">01/<span class="slide__number-index">01</span></span>
    </div>
    {{>component/scroll-more/scroll-more}}
    {{>component/innerPageInfo/innerPageInfo text}}
</div>


