.btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    width: 100%;
    max-width: 180px;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    height: 34px;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: all 0.4s;
    background: none;
    text-transform: uppercase;
}

.btn--red {

}

.btn--black {

}

.btn--black-border {

}


