//h1, h1 , h3 ... styles

.main-title {
  font-size: 72px;
  text-decoration: none;
  color: inherit;
  display: block;
  white-space: nowrap;

  @include media($desk-middle){
    font-size: 60px;
  }

  @include media($break-tablet){
    font-size: 60px;
  }

  @include media($break-mobile) {
    font-size: 40px;
  }

  @include media($break-extra-small) {
    font-size: 24px;
  }

  &--semibold {
    font-family: $uniSansSemiBold, sans-serif;
    font-weight: bold;

    @include media($break-mobile) {
      font-family: $uniSans, sans-serif;
      font-weight: 400;
    }
  }

  &--light {
    font-family: $uniSansThin, $exo2Thin;

    /*@include media($break-mobile) {
      font-family: $uniSansThin;
    }*/
  }
}

.main-subtitle {
  font-size: 36px;
  font-family: $uniSansBold, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;

  @include media($desk-middle){
    font-size: 30px;
  }

  @include media($break-tablet){
    font-size: 24px;
  }

  @include media($break-mobile) {
    font-size: 20px;
  }
}
