//h1, h1 , h3 ... styles

.main-title {
  font-size: 72px;
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover {
    .first-letter-animation {
      color: $red-color;
    }
  }

  @include media($desk-middle){
    font-size: 60px;
  }

  @include media($break-tablet){
    font-size: 60px;
  }

  @include media($break-mobile) {
    font-size: 30px;
  }

  @include media($break-extra-small) {
    font-size: 24px;
  }

  &--semibold {
    font-family: $uniSansSemiBold;

    @include media($break-mobile) {
      font-family: $uniSans;
    }
  }

  &--light {
    font-family: $uniSansLight;

    @include media($break-mobile) {
      font-family: $uniSansThin;
    }
  }
}

.main-subtitle {
  font-size: 36px;
  font-family: $uniSansBold;
  text-transform: uppercase;
  margin-top: 10px;

  @include media($desk-middle){
    font-size: 30px;
  }

  @include media($break-tablet){
    font-size: 24px;
  }

  @include media($break-mobile) {
    font-size: 20px;
  }
}
