<div id="barba-wrapper">
    <div class="barba-container" data-namespace="vacancy">
        <div class="vacancy__additional-info">
            <img class="vacancy__img" src="/source/images/vacancy/job.png" alt="">
            <div class="vacancy__media">
                <a class="vacancy__media-item"></a>
                <a class="vacancy__media-item"></a>
                <a class="vacancy__media-item"></a>
                <a class="vacancy__media-item"></a>
            </div>
        </div>
        <div class="vacancy__wrapper">
            <main class="vacancy">
                <div class="container vacancy__container">
                    <div class="vacancy__inner">
                        <div class="vacancy__text">
                            <h1 class="vacancy__title">We create and workin in Podil, Kiev!</h1>
                            <ul class="vacancy__list">
                                <li class="vacancy__list-item">
                                    <a href="" class="vacancy__item-link">
                                        Архитектор (3DMax)
                                        <span class="vacancy__arrow"></span>
                                    </a>
                                    <div class="vacancy__item-description-wrapper">
                                        <div class="vacancy__slide-height">
                                            <div class="vacancy__item-description">
                                                <p>Архитектурная мастерская Наталии Олексиенко «Evolutionary Architecture» приглашает в команду Архитектора.</p>
                                                <p>Мы проектируем современные частные дома и коттеджи с уникальным ландшафтом. Ищем профессионала, который знаком на практике со всеми стадиями проектирования, от общих чертежей до разработки узлов.</p>
                                                <h2>Обязательные требования:</h2>
                                                <ul>
                                                    <li>Опыт работы в архитектурно-дизайнерском бюро приветствуется, но готовы рассмотреть кандидатуру молодого специалиста - выпускника профильного ВУЗа.</li>
                                                    <li>Высшее архитектурное образование.</li>
                                                    <li>ArchiCAD - работа в слоях (3DMax, PhotoShop и SketchUp приветствуются).</li>
                                                    <li>Умение и желание обучаться.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vacancy__list-item">
                                    <a href="" class="vacancy__item-link">
                                        Архитектор (3DMax)
                                        <span class="vacancy__arrow"></span>
                                    </a>
                                    <div class="vacancy__item-description-wrapper">
                                        <div class="vacancy__slide-height">
                                            <div class="vacancy__item-description">
                                                <p>Архитектурная мастерская Наталии Олексиенко «Evolutionary Architecture» приглашает в команду Архитектора.</p>
                                                <p>Мы проектируем современные частные дома и коттеджи с уникальным ландшафтом. Ищем профессионала, который знаком на практике со всеми стадиями проектирования, от общих чертежей до разработки узлов.</p>
                                                <h2>Обязательные требования:</h2>
                                                <ul>
                                                    <li>Опыт работы в архитектурно-дизайнерском бюро приветствуется, но готовы рассмотреть кандидатуру молодого специалиста - выпускника профильного ВУЗа.</li>
                                                    <li>Высшее архитектурное образование.</li>
                                                    <li>ArchiCAD - работа в слоях (3DMax, PhotoShop и SketchUp приветствуются).</li>
                                                    <li>Умение и желание обучаться.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>





