.slider {

    &__wrapper {
        position: relative;

        &.fadeIn {
            .slider__item {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
    }

    &__item {

    }

    &__dots {
        position: absolute;
        left: 110px;
        margin-left: -4px;
        bottom: 20%;
        width: 50px;
        padding: 5px 4px 0;
        z-index: 25;
        overflow: hidden;

        @include media($desk-middle){
            left: 5.9vw;
            width: 40px;
        }

        @media only screen and (max-height: $maxHeight){
            bottom: 25%;
        }

        @include media($break-mobile) {
            left: 15px;
            margin-left: 0;
            bottom: 50%;
            transform: translateY(50%);
        }

    }

    &__dots--wrapper {
        transform: translateY(105%);

        @include media($break-mobile) {
            padding-top: 5px;
        }
    }

    &__nav {
        bottom: 30px;
    }

    &__dot {
        position: relative;
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        display: inline-block;
        cursor: pointer;
        pointer-events: auto;

        @include media($desk-middle){
            margin-bottom: 10px;
        }

        @include media($break-mobile) {
            height: 5px;
            margin-bottom: 7px;
            display: block;
        }

        &.active {
            transform: scale(1);

            &:after {
                height: 4px;

                @include media($break-mobile) {
                    height: 5px;
                    background: $red-color;
                    transform: scale(1.8);
                }
            }
        }

        &:hover {
            &:after {
                animation: wider 0.3s;

                @include media($break-mobile) {
                   animation: none;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 18px;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            background: #ffffff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            transition: height 0.2s, transform 1.5s, background 1.5s;
            transform-origin: 50% 50%;

            @include media($break-mobile) {

                width: 5px;
                height: 5px;
                background: rgba(#fff, 0.7);
                transform: none;
                left: 0;
            }
        }
    }

    @keyframes wider {
        50%   { width: 120%; }
        100% { width: 100%; }
    }

    &__button {
        position: relative;
        width: 30px;
        height: 30px;
        background: none;
        outline: none;
        cursor: pointer;
        transition: transform 0.4s, border 0.4s;
        transform: scale(1);
        pointer-events: auto;

        &:before {
            content: '';
            position: absolute;
            top: 9px;
            width: 8px;
            height: 8px;
            transition: border 0.4s;
        }

        &--left {
            margin-right: 10px;

            &:before {
                transform: rotate(45deg);
                left: 11px;
            }
        }

        &--right {
            margin-right: 10px;

            &:before {
                transform: rotate(-135deg);
                right: 9px;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.white-theme {
   .slider__button {
       border-color: #fff;

       &:before {
           border-bottom-color: #fff;
           border-left-color: #fff;
       }
   }

    .slider__dot {
        background: #fff;
    }
}
