.footer {
    background: $dark-blue-text;
    padding: 55px 0;
    color: #fff;
    font-family: $aileronThinwebfont;
    margin-top: auto;
    width: 100%;
    align-self: flex-end;

    &__links {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        margin-right: -30px;
    }

    &__list {
        padding: 0 30px;
        max-width: 220px;
    }

    &__nav-item {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__nav-link {
        text-decoration: none;
        color: #fff;
        font-family: $aileronThinwebfont;
        letter-spacing: 0.01em;
        line-height: 1.3;
        transition: color 0.3s;

        &.highlight {
            font-family: $aileronSemiBold;
        }

        &:hover {
            color: $light-blue;
        }
    }

    &__logo {
        margin-top: 5px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        font-size: 14px;
        letter-spacing: 0.01em;
        font-family: $avenirNextCyrLight;
        align-items: center;
    }

    &__documents {
        display: flex;
        font-size: 14px;
        margin-top: 20px;
    }

    &__documents-link {
        padding: 0 25px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        position: relative;
        transition: color 0.3s;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background: #fff;
            width: 1px;
            height: 100%;
        }

        &:last-child {
            &:before {
                display: none;
            }
        }

        &:first-child {
            padding-left: 0;
        }

        &:hover {
            color: $light-blue;
        }
    }
}

.social-media {

    &__list {
        display: flex;
        margin-top: 20px;
    }

    &__link {
        display: block;
        margin-right: 35px;

        svg {
            height: 22px;
            width: 22px;
            fill: #fff;
            transition: fill 0.4s;
        }

        &:hover {

            svg {
                fill: $light-blue;
            }
        }
    }
}

.cryptogang {
    opacity: 0.2;
    display: flex;
    align-items: center;

    &__text {
        text-transform: uppercase;
        font-family: $avenirNextCyrDemi;
    }

    &__svg {
        width: 65px;
        height: 35px;
        fill: #fff;
        margin-left: 15px;

        path {
            fill: #fff;
        }
    }
}
