<div class="dila__letters">
     <span class="dila__letter-container" data-index="2">
         <a href="#" class="dila__letter"><span>A</span></a>
         <a href="" class="dila__word">Architecture</a>
     </span>
    <span class="dila__letter-container" data-index="3">
        <a href="#" class="dila__letter dila__letter--i"><span>I</span></a>
        <a href="" class="dila__word">Interior design</a>
    </span>
    <span class="dila__letter-container" data-index="4">
        <a href="#" class="dila__letter"><span>L</span></a>
        <a href="" class="dila__word">Landscape design</a>
    </span>
    <span class="dila__letter-container" data-index="5">
        <a href="#" class="dila__letter"><span>D</span></a>
        <a href="" class="dila__word">Design</a>
    </span>
</div>