.dila {
    &__letters {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        bottom: 11%;
        top: 22%;
        justify-content: space-between;
        font-size: 24px;
        z-index: 55;
        right: 53px;
        font-family: $uniSans;

        @include media($break-tablet) {
            bottom: 20%;
        }

        @include media($break-mobile) {
            right: 25px;
            font-size: 16px;
        }
    }

    &__letter-container {
        display: block;
        position: relative;
        opacity: 0;

        &.active {
            .dila__word {
                transform: translateX(0);
                opacity: 1;

                &:before {
                    width: 40px;

                    @include media($break-mobile) {
                        width: 26px;
                    }
                }
            }

            .dila__letter {
                opacity: 0;
            }
        }

        &:not(.nohover):hover {
            .dila__word {
                transform: translateX(0);
                opacity: 1;

                &:before {
                    width: 40px;

                    @include media($break-mobile) {
                        width: 26px;
                    }
                }
            }

            .dila__letter {
                opacity: 0;
            }
        }

        @include media($break-mobile) {
            pointer-events: none;
        }
    }

    &__letter {
        text-decoration: none;
        color: #fff;
        display: block;
        transition: opacity 0.4s;
        pointer-events: auto;

        span {
            transform: rotate(-90deg);
            display: inline-block;
        }

        &--i {
            margin-left: 3px;
        }
    }

    &__word {
        position: absolute;
        top: -3px;
        right: 0;
        text-decoration: none;
        color: #fff;
        white-space: nowrap;
        font-size: 28px;
        font-family: $uniSansBold;
        transform: translateX(70px);
        opacity: 0;
        transition: transform 0.9s, opacity 0.6s;
        display: block;

        @include media($break-mobile) {
            font-size: 16px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background: $red-color;
            left: 0;
            bottom: -16px;
            transition: width 0.9s;

            @include media($break-mobile) {
                bottom: -6px;
            }
        }
    }
}