.all-projects {
    height: 100%;

    &__list {
        height: 100%;
    }

    &__item {
        display: flex;
    }

    &__img-list {
        display: flex;
        flex-wrap: wrap;
        margin: auto;

    }

    &__img {
        width: 26.6667vmin;
        height: 26.6667vmin;
        background: purple;
        border: 1px solid #fff;
        background-size: cover;
        transform: scale(0.3);
        opacity: 0;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px;
    }

    &__line {
        display: block;
        line-height: 1;
        font-size: 36px;
    }

    &__first-line {
        font-family: $uniSansThin, $exo2Thin;
    }

    &__second-line {
        font-family: $uniSans, $exo2Regular;
        padding-left: 0.6em;
    }
}
