<div id="barba-wrapper">
    <div class="barba-container" data-namespace="all_projects">
        <section class="all-projects">
            <div class="all-projects__list swiper-wrapper">
                <div class="swiper-slide all-projects__item">
                    <ul class="all-projects__img-list">
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                    </ul>
                    <ul class="all-projects__img-list">
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                    </ul>
                    <ul class="all-projects__img-list">
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                        <li class="all-projects__img">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
