.all-projects {
    width: 100vw;
    height: 100vh;
    display: flex;

    &__list {
        width: 100vmin;
        margin: 0 auto;
    }

    &__item {
        display: flex;
    }

    &__img-list {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    &__img {
        width: 33.333vmin;
        height: 33.333vmin;
        background: purple;
        border: 1px solid #fff;
    }
}
