<div id="barba-wrapper">
    <div class="barba-container" data-namespace="all_projects">
        <section class="all-projects" style="background-image: url('../source/images/homepage/slide-8.jpg')">
            {{>component/navigation-arrows/navigation-arrows videoGallery.navigation}}
            <div class="all-projects__list swiper-container">
                <div class="swiper-wrapper">
                    {{#each allProjects}}
                        <!--<div class="swiper-slide all-projects__item">

                        </div>-->
                        <div class="swiper-slide video-gallery__item">
                            <div class="video-gallery__video-container">
                                <div class="video-gallery__item-wrap">
                                    <div class="video-gallery__video-body">
                                        <img class="video-gallery__img" data-swiper-parallax="30" src="{{bg}}" alt="">

                                        <div class="video-gallery__item-inner">
                                            <a href="#" class="video-gallery__link" data-frame="{{link}}"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="all-projects__title-wrapper">
                                    <div class="all-projects__heading">
                                        <h2 class="all-projects__title">
                                            <span class="all-projects__line all-projects__first-line">Hello world</span>
                                            <span class="all-projects__line all-projects__second-line">Best world</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </div>
</div>
