<div id="barba-wrapper">
    <div class="barba-container" data-namespace="video">
        <div class="video-gallery">
            <div class="video-gallery__bg" style="background-image: url('../source/images/homepage/slide-8.jpg')"></div>
            <div class="video-gallery__list swiper-container">
                {{>component/navigation-arrows/navigation-arrows videoGallery.navigation}}
                <div class="swiper-wrapper">
                    {{#each videoGallery.list}}
                    <div class="swiper-slide video-gallery__item">
                        <div class="video-gallery__video-container">
                            <div class="video-gallery__item-wrap">
                                <div class="video-gallery__video-body">
                                <!--<img class="video-gallery__img" data-swiper-parallax="30" src="{{videoHoverBg}}" alt="">-->
                                    <video playsinline="" muted="" loop="" class="video-gallery__video" id="bgvideo">
                                        <source src="{{video}}" type="video/mp4;">
                                    </video>
                                    <div class="video-gallery__item-inner">

                                        <div class="video-gallery__play-btn">
                                        </div>
                                        <a href="#" class="video-gallery__link" data-frame="{{link}}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="video-gallery__title-wrapper">
                                <div class="video-gallery__heading">
                                    <h2 class="video-gallery__title">hello world</h2>
                                    <span class="video-gallery__timestamp">[5:08]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
