.video-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;

    .video__lines {
        z-index: 5;
        position: absolute;
        width: 100%;
        opacity: 0;
        transform: none;
        left: 0;
        top: 0;
        transition: opacity 0.4s;
        pointer-events: none;
    }

    .video__line {
        opacity: 1;
        z-index: 55;
        height: 0;

        &--1 {
            transform: rotate(-14deg);
        }

    }

    .navigation-arrows__nav {
        display: block;

        @include media($desk-middle) {
            width: 100%;
            right: auto;
            display: flex;
            justify-content: center;
            top: auto;
            bottom: 30px;
            left: 0;
        }
    }

    &__bg {
        position: absolute;
        top: -5%;
        left: 0;
        width: 120%;
        height: 110%;
        object-fit: cover;
        //transition: transform 0.5s;
        background-size: cover;
    }

    &__list {

        width: auto;
        height: 100%;
        padding: 0 15px;

        @include media($break-mobile) {
            width: 100%;
        }
    }

    &__item {
        box-sizing: content-box;
        background-size: cover;
        background-position: 50% 50%;
        margin: 0 15px 0;
        display: flex;
        flex-direction: column;
        width: 28vw;
        height: 100%;

        &:nth-child(3n) {
            .video-gallery__item-wrap{
                height: 40%;
                margin-top: 20vh;
            }
        }

        &:nth-child(3n - 1) {
            .video-gallery__item-wrap{
                height: 40%;
                margin-top: 48vh;
            }
        }

        &:nth-child(3n - 2) {
            //width: 15vw;
            .video-gallery__item-wrap{
                margin-top: 30vh;
                height: 40%;
            }
        }

        @include media($desk-middle) {
            width: 40vw;
        }

        @include media($break-tablet) {
            width: 60vw;
        }

        @include media($break-mobile) {
            box-sizing: border-box;
            margin: 0;
            padding: 30px;
            width: 100%;

            &:nth-child(n) {
                .video-gallery__item-wrap{
                    height: 50%;
                    margin-top: 25vh;
                }
            }
        }
    }

    &__item-wrap {
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        opacity: 1;
        overflow: hidden;

        &::before, &::after {
            content: '';
            position: absolute;
            pointer-events: none;
            left: 0;
            width: 101%;
            height: 40%;
            z-index: 1;
            transition: 0.4s opacity, height 0.4s;
        }

        &::before {
            top: -1;
            background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
        }

        &::after {
            bottom: -1px;
            background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
        }

        &:hover {

            .video__lines {
                opacity: 1;
            }

            .video__line {
                transition-property: height;
                transition-duration: 1s;
                height: 140%;

                &--1 {
                    transition-delay: 0s;
                }

                &--2 {
                    transition-delay: 0.3s;
                }

                &--3 {
                    transition-delay: 0.6s;
                }
            }

            .video-gallery__item-inner {
                opacity: 1;
            }

            .video-gallery__play-btn {
                transform: scale(1);
                opacity: 1;
            }

            .video-gallery__title {
                opacity: 0;
                transform: translateY(-30px);
            }

            .video-gallery__img {
                //transform: scale(1.1);
            }


            &::before, &::after {
                height: 100%;
            }
        }

        @include media($break-mobile) {

        }
    }

    &__item-inner {
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: opacity 0.4s;
        position: relative;
    }

    &__title {
        margin: auto;
        font-size: 30px;
        font-family: $exo2Light;
        line-height: 1.3;
        padding: 0.65em;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        transition: transform 0.6s, opacity 0.6s;

        @include media($break-mobile) {
            font-size: 26px;
        }
    }

    &__img {
        position: absolute;
        top: -15%;
        left: -75%;
        width: 250%;
        height: 130%;
        object-fit: cover;
        //transition: 8s transform;
    }

    @keyframes zoom-in-out {
        0%   { transform: scale(1)}
        50%  { transform: scale(1.1)}
        100% { transform: scale(1)}
    }

    &__play-btn {
        display: block;
        height: 85px;
        width: 85px;
        background: #fff;
        border-radius: 50%;
        margin-top: -42px;
        margin-left: -42px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: scale(0.2);
        opacity: 0;
        transition: transform 0.6s, opacity 0.6s;
        z-index: 100;
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            border: 8px solid transparent;
            border-left: 13px solid $red-color;
            transform: translate(-3px, -51%);
        }
    }

    &__link {
        z-index: 1;
        outline: none;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: none;
        }
    }

    &__video-name {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.9;
        font-size: 8.5vh;
        font-family: $exo2Thin;
        transform: rotate(-90deg);

        span {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            white-space: nowrap;
            transform-origin: 0 0;
            transform: translateX(-100%) translateY(100%);

        }
    }
}
